@import url("https://fonts.googleapis.com/css2?family=Tapestry&family=Ubuntu:ital,wght@1,300&display=swap");
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

h1 {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  font-family: "Tapestry", cursive;
}
